In [40]:
import pandas as pd
import numpy as np

In [41]:
data = pd.read_excel(io="../data/datasets/unemployment_in_the_labour_market.xlsx", sheetname="Data").fillna('')
data.head(3)

,Race,Race_type,Location,Location_type,Income,Income_type,Gender,Age Bracket,1993,1994,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,White,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.098,0.089,...,0.048,0.048,0.052,0.07,0.073,0.075,0.073,0.068,0.055,0.048
1,Black,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.275,0.253,...,0.139,0.132,0.134,0.179,0.164,0.196,0.166,0.17,0.154,0.14
2,Mixed or multiple,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.216,0.218,...,0.132,0.116,0.134,0.158,0.141,0.158,0.154,0.148,0.132,0.112

In [42]:
measures = pd.read_excel(io="../data/datasets/unemployment_in_the_labour_market.xlsx", sheetname="Measures")
measures = measures.fillna('')
measures.head(3)

   Code                           Measure  Time Time_type
0  1993  Unemployment in the labour force  1993      Year
1  1994  Unemployment in the labour force  1994      Year
2  1995  Unemployment in the labour force  1995      Year

In [43]:
unique_measures = measures['Measure'].unique()
unique_measures[0:3]

array(['Unemployment in the labour force'], dtype=object)

In [44]:
group = measures[measures['Measure'] == 'Unemployment in the labour force']
group

    Code                           Measure  Time Time_type
0   1993  Unemployment in the labour force  1993      Year
1   1994  Unemployment in the labour force  1994      Year
2   1995  Unemployment in the labour force  1995      Year
3   1996  Unemployment in the labour force  1996      Year
4   1997  Unemployment in the labour force  1997      Year
5   1998  Unemployment in the labour force  1998      Year
6   1999  Unemployment in the labour force  1999      Year
7   2000  Unemployment in the labour force  2000      Year
8   2001  Unemployment in the labour force  2001      Year
9   2002  Unemployment in the labour force  2002      Year
10  2003  Unemployment in the labour force  2003      Year
11  2004  Unemployment in the labour force  2004      Year
12  2005  Unemployment in the labour force  2005      Year
13  2006  Unemployment in the labour force  2006      Year
14  2007  Unemployment in the labour force  2007      Year
15  2008  Unemployment in the labour force  2008      Year
16  2009  Unemployment in the labour force  2009      Year
17  2010  Unemployment in the labour force  2010      Year
18  2011  Unemployment in the labour force  2011      Year
19  2012  Unemployment in the labour force  2012      Year
20  2013  Unemployment in the labour force  2013      Year
21  2014  Unemployment in the labour force  2014      Year
22  2015  Unemployment in the labour force  2015      Year

In [45]:
standard_cells = ['Race', 'Race_type', 'Location', 'Location_type', 'Income', 'Income_type', 'Gender', 'Age Bracket']
data_categories = []
measure_categories = ['Time','Time_type']

In [46]:
full_data = data
length = len(full_data['Race'])
for mc in measure_categories:
    full_data[mc] = pd.Series(np.zeros(length))
full_data.head(3)

,Race,Race_type,Location,Location_type,Income,Income_type,Gender,Age Bracket,1993,1994,...,2008,2009,2010,2011,2012,2013,2014,2015,Time,Time_type
0,White,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.098,0.089,...,0.052,0.07,0.073,0.075,0.073,0.068,0.055,0.048,0.0,0.0
1,Black,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.275,0.253,...,0.134,0.179,0.164,0.196,0.166,0.17,0.154,0.14,0.0,0.0
2,Mixed or multiple,ONS labour expanded Asian,Great Britain,Country,,,,16+,0.216,0.218,...,0.134,0.158,0.141,0.158,0.154,0.148,0.132,0.112,0.0,0.0

In [47]:
all_categories = standard_cells + data_categories + measure_categories
all_categories

['Race',
 'Race_type',
 'Location',
 'Location_type',
 'Income',
 'Income_type',
 'Gender',
 'Age Bracket',
 'Time',
 'Time_type']

In [49]:
final_columns = all_categories + ['Unemployment in the labour force']
df = pd.DataFrame(columns=final_columns)

for index, sub_measure in group.iterrows():
    all_columns = all_categories + [sub_measure['Code']]
    
    # Fill the measure columns with values from the category
    for measure_category in measure_categories:
        full_data[measure_category] = sub_measure[measure_category]
    
    # Get a subset of the data
    frame = full_data[all_columns]
    
    # Add it to our existing data
    frame.columns = final_columns
    df = df.append(frame)

df

KeyError: '[2001] not in index'

In [ ]:
serieses = pd.groupby(df, ['Race_level', 'Location_level'])

for series in serieses:
    print(series)

In [ ]:
class MeasureSet(object):
    self.name = ''
    

class MeasureSetFactory(object):
    
    def __init__(self, data_categories = [], measure_categories = [], standard_categories = ['Race', 'Race_type', 'Location', 'Location_type', 'Income', 'Income_type']):
        self.standard_categories = standard_categories
        self.data_categories = []
        self.measure_categories = []
        self.all_categories = standard_categories + data_categories + measure_categories
        
        self.measures = []
    
    def import_measures_from_excel(self,excel_path):
        data = pd.read_excel(io=excel_path, sheetname="Data")
        self.full_data = self.data_with_extra_columns(data)
        
        self.measures = pd.read_excel(io=excel_path, sheetname="Measures").fillna('')
        
        unique_measures = measures['Measure'].unique()
        for measure_name in unique_measures:
            measure_data = self.read_all_measure_data(measure_name)
            print(measure_data)
        
    def read_all_measure_data(self,measure):
        final_columns = self.all_categories + [measure]
        df = pd.DataFrame(columns=final_columns)
        
        group = self.measures[measures['Measure'] == measure]
        for index, sub_measure in group.iterrows():
            all_columns = self.all_categories + [sub_measure['Code']]

            # Fill the measure columns with values from the category
            for measure_category in self.measure_categories:
                full_data[measure_category] = sub_measure[measure_category]

            # Get a subset of the data
            frame = full_data[all_columns]

            # Add it to our existing data
            frame.columns = final_columns
            df = df.append(frame)
        return df
        
        
    def data_with_extra_columns(self,data):
        full_data = data
        length = len(full_data['Race'])
        for mc in measure_categories:
            full_data[mc] = pd.Series(np.zeros(length))
        return full_data

In [ ]:
importer = MeasureSetFactory()
importer.import_measures_from_excel("../data/input/datasets/attainment/ks4attainment_2016_18plus_gender.xlsx")

In [ ]:
class MeasureSet(object):
    name = ''